<!-- <section class="content-header">
	<h1>
		Page Header
		<small>Optional description</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
		<li class="active">Here</li>
	</ol>
</section> -->
<section class="content">
	<div class="main-content">
		<div class="container-fluid">
			<div class="row">
				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title">{{title_organization}}</h3>
						<div class="pull-right box-tools">
							<button *ngIf="type_view == 3" class="btn btn-danger btn-sm" data-toggle="tooltip" title=""
								type="button" data-original-title="Delete organization"
								(click)="deleteOrganization()">
								<i class="fa fa-trash"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="col-md-6">
							<label for="name"><span>Organization name</span></label>
							<input name="name" type="text" class="form-control" [(ngModel)]="organization.name" [ngModelOptions]="{standalone: true}">
						</div>
						<div class="col-md-6">
							<label for="reference_no"><span>Reference number</span></label>
							<input name="reference_no" type="text" class="form-control"
								[(ngModel)]="organization.reference_no" [ngModelOptions]="{standalone: true}"
							>
						</div>
						<div class="col-md-6">
							<label><span>Address</span></label>
							<input [(ngModel)]="full_address" [ngModelOptions]="{standalone: true}" type="text" readonly class="form-control" placeholder="Location">
							<app-localization
								[id_modal]="'locationOrganization'"
								[localization]="localization"
								[countries]="countries"
								[states]="states"
								[cities]="cities"
								(address)="getFullAddress($event)"
							>
							</app-localization>
						</div>
						<div class="col-md-6">
							<label for="description"><span>Description</span></label>
							<textarea name="description" class="form-control" rows="3"
								[(ngModel)]="organization.description" [ngModelOptions]="{standalone: true}"
							>
							</textarea>
						</div>
					</div>
					<div class="box-footer">
						<button *ngIf="type_view == 3" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateOrganization()" >Update Organization</button>
						<button *ngIf="type_view == 1" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="createOrganization()" >Create Organization</button>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.content -->
<ngx-loading [show]="loading"></ngx-loading>