
  <!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
	  Page Header
	  <small>Optional description</small>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
	  <li class="active">Here</li>
	</ol>
</section>
  <!-- Main content -->
<section class="content">
	<div class="main-content">
		<div class="col-md-12" ><!-- <app-custom-columns></app-custom-columns> --></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-info">
						<div class="box-header">
							<div class="row">
								<div class="col-md-6">
									<h4>{{title_third}}</h4>
								</div>
								<!-- <div class="col-md-6">
									<div *ngIf="type_view == 3">
										<app-contact (createEvent)="getContactInsert($event)"></app-contact>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box box-info">
				<div class="box-body">
					<div class="row">

            <app-dynamic-form [entity]="third" (myEvent)="getEventform($event)" [type]="1" ></app-dynamic-form>

						<div class="col-md-6">
							<label><span>Client</span></label>
							<input type="text" readonly class="form-control" [(ngModel)]="client.client_name" [ngModelOptions]="{standalone: true}">
						</div>
						<!-- <div class="col-md-6">
							<div *ngIf="type_view == 3">
								<button *ngIf="!third.archived" (click)="archivedThird(third.id, 1)" mat-raised-button class="btn btn-danger btn-sm">
									<i class="fa fa-trash"></i>
								</button>
								<button *ngIf="third.archived" (click)="archivedThird(third.id, 0)" mat-raised-button class="btn btn-info btn-sm">
									<i class="fa fa-check"></i>
								</button>
							</div>
						</div>
						<div class="col-md-6">
							<input type="text" readonly class="form-control" [(ngModel)]="third.id" [ngModelOptions]="{standalone: true}">
						</div> -->
						<div class="col-md-6">
							<label for="organization"><span>Organization</span></label>
							<select name="organization" class="form-control" [(ngModel)]="third.organization_id" [ngModelOptions]="{standalone: true}">
								<option *ngFor="let organization of combo_select.organizations" [ngValue]="organization.id">
									{{organization.organization_name}}
								</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<label for="name"><span>Business name</span></label>
							<input name="name" type="text" class="form-control" [(ngModel)]="third.name" [ngModelOptions]="{standalone: true}">
						</div>
						<div class="col-md-6">
							<label for="group_third"><span>Group of thirds</span></label>
							<select name="group_third" class="form-control">
								<option value="0"></option>
							</select>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<label for="name_2"><span>Company name</span></label>
							<input name="name_2" type="text" class="form-control"
								[(ngModel)]="third.name_2" [ngModelOptions]="{standalone: true}"
							>
						</div>
						<div class="col-md-6">
							<label for="reference_no"><span>Reference Number</span></label>
							<input name="reference_no" type="text" class="form-control" placeholder="Reference No" [(ngModel)]="third.reference_no" [ngModelOptions]="{standalone: true}">
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<label for="customer">
								<input name="customer" class="form-check-input" type="checkbox" value=""
									[checked]="third.is_customer == 1 ? true : false"
									[(ngModel)]="third.is_customer"
									[ngModelOptions]="{standalone: true}"
								>
								<span>Customer</span>
							</label>
						</div>
						<div class="col-sm-6">
							<label for="vendor">
								<input name="vendor" class="form-check-input" type="checkbox" value=""
									[checked]="third.is_vendor == 1 ? true : false"
									[(ngModel)]="third.is_vendor" [ngModelOptions]="{standalone: true}"
								>
								<span>Vendor</span>
							</label>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<label for="sales_rep">
								<input name="sales_rep" class="form-check-input" type="checkbox" value=""
									[checked]="third.is_sales_rep == 1 ? true : false"
									[(ngModel)]="third.is_sales_rep"
									[ngModelOptions]="{standalone: true}"
								>
								<span>Sales representative</span>
							</label>
						</div>
						<div class="col-sm-6">
							<label for="prospect">
								<input name="prospect" class="form-check-input" type="checkbox" value=""
									[checked]="third.is_prospect == 1 ? true : false"
									[(ngModel)]="third.is_prospect"
									[ngModelOptions]="{standalone: true}"
								>
								<span>Prospect</span>
							</label>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<label for="tax_exempt">
								<input name="tax_exempt" class="form-check-input" type="checkbox" value=""
									[checked]="third.is_tax_exempt == 1 ? true : false"
									[(ngModel)]="third.is_tax_exempt" [ngModelOptions]="{standalone: true}"
								>
								<span>Exempt from sales</span>
							</label>
						</div>
						<div class="col-sm-6">
							<label for="po_tax_exempt">
								<input name="po_tax_exempt" class="form-check-input" type="checkbox" value=""
									[checked]="third.is_po_tax_exempt == 1 ? true : false"
									[(ngModel)]="third.is_po_tax_exempt" [ngModelOptions]="{standalone: true}"
								>
								<span>Exempt from purchase</span>
							</label>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<label for="url"><span>Url</span></label>
							<input name="url" type="text" class="form-control" placeholder="www.url.web" [(ngModel)]="third.url" [ngModelOptions]="{standalone: true}">
						</div>
						<div class="col-sm-6">
							<label for="phone"><span>Phone</span></label>
							<input name="phone" type="text" class="form-control" placeholder="phone" [(ngModel)]="branch_office.phone" [ngModelOptions]="{standalone: true}">
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<label><span>Address</span></label>
							<input [(ngModel)]="full_address" [ngModelOptions]="{standalone: true}" type="text" readonly class="form-control" placeholder="Location">
							<app-localization
								[localization]="localization"
								[countries]="countries"
								[states]="states"
								[cities]="cities"
							>
							</app-localization>
						</div>
						<div class="col-sm-6">
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<label for="represent_id">Sales representative</label>
							<select name="represent_id" class="form-control" [(ngModel)]="third.sales_rep_id" [ngModelOptions]="{standalone: true}">
								<option *ngFor="let represent of combo_select.sales_representatives" [ngValue]="represent.id">
									{{represent.name}}
								</option>
							</select>
						</div>
						<div class="col-sm-6">
							<label for="phone_2"><span>Phone</span></label>
							<input name="name_2" type="text" class="form-control" placeholder="phone_2" [(ngModel)]="branch_office.phone_2" [ngModelOptions]="{standalone: true}">
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<label for="description">Description</label>
							<textarea name="description" class="form-control" rows="3" [(ngModel)]="third.description" [ngModelOptions]="{standalone: true}">
							</textarea>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<label>Credit limit</label>
							<input type="number" class="form-control" placeholder="Credit Limit" [(ngModel)]="third.credit_limit" [ngModelOptions]="{standalone: true}">
						</div>
						<div class="col-sm-6">
							<label>Flat discount</label>
							<input type="text" class="form-control" placeholder="Flat Discount" [(ngModel)]="third.flat_discount" [ngModelOptions]="{standalone: true}">
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<label>Language</label>
							<select class="form-control" [(ngModel)]="third.language_id" [ngModelOptions]="{standalone: true}">
								<option *ngFor="let language of combo_select.languages" [ngValue]="language.id">
									{{ language.languagescol }}
								</option>
							</select>
						</div>
					</div>

				</div>
				<div class="box-footer">
					<button *ngIf="type_view == 3" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateThird()" >Update Third</button>
					<button *ngIf="type_view == 1" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="createThird()" >Create Third</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div *ngIf="type_view == 3">
				<app-contact-list
					[contacts]="third_contacts"
				>
				</app-contact-list>
			</div>
		</div>
	</div>
</section>
<!-- /.content -->
<ngx-loading [show]="loading"></ngx-loading>

<!--



								<div class="col-md-2">
									<select class="form-control" [(ngModel)]="third.credit_status" [ngModelOptions]="{standalone: true}">
										<option value="A">Credit Status A</option>
										<option value="B">Credit Status B</option>
										<option value="C">Credit Status C</option>
									</select>
								</div>

								<div class="col-md-2">
									<input type="number" readonly class="form-control" placeholder="Total Open Balance" [(ngModel)]="third.total_open_balance" [ngModelOptions]="{standalone: true}">
								</div>

								<div class="col-md-2">
									<select class="form-control" [(ngModel)]="third.greeting_id" [ngModelOptions]="{standalone: true}">
										<option value="0">greeting id</option>
									</select>
								</div>


							  <div class="col-md-3">
								  <select class="form-control" [(ngModel)]="third.tax_id" [ngModelOptions]="{standalone: true}">
									<option>Tax id</option>
								  </select>
							  </div>

							  <div class="col-md-3">
								  <div class="form-check">
									  <label class="form-check-label">
										  <input class="form-check-input"
										  type="checkbox" value="" [checked]="third.is_summary == 1 ? true : false"
										  [(ngModel)]="third.is_summary" [ngModelOptions]="{standalone: true}">
										  Summary
										  <span class="form-check-sign">
											  <span class="check"></span>
										  </span>
									  </label>
									</div>
							  </div>

							  <div class="col-md-3">
								  <select class="form-control" [(ngModel)]="third.price_list_id" [ngModelOptions]="{standalone: true}">
									<option>price list id</option>
								  </select>
							  </div>

							  <div class="col-md-3">
								  <select class="form-control" [(ngModel)]="third.po_price_list_id" [ngModelOptions]="{standalone: true}">
									  <option>po price list id</option>
								  </select>
							  </div>

							  <div class="col-md-3">
								  <select class="form-control" [(ngModel)]="third.delivery_rule" [ngModelOptions]="{standalone: true}">
									  <option>delivery rule char</option>
								  </select>
							  </div>

							  <div class="col-md-3">
								  <select class="form-control" [(ngModel)]="third.delivery_via_rule" [ngModelOptions]="{standalone: true}">
									  <option>delivery via rule char</option>
								  </select>
							  </div>

							</div>
						   -->
							<!-- <div class="clearfix"></div> -->
