<section class="content">
	<div class="main-content">
		<div class="container-fluid">
			<div class="row">
				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title"></h3>
						<div class="pull-right box-tools">
							<button  class="btn btn-danger btn-sm" data-toggle="tooltip" title=""
								type="button" data-original-title="Delete organization"
								(click)="">
								<i class="fa fa-trash"></i>
							</button>
							<button  class="btn btn-warning btn-sm" data-toggle="tooltip" title=""
								type="button" data-original-title="Clean Data"
								(click)=""
							>
              Clean
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="col-md-6">
							<label for="name"><span>Name</span></label>
							<input name="name" type="text" class="form-control" [(ngModel)]="client.name" [ngModelOptions]="{standalone: true}">
						</div>
						<div class="col-md-6">
							<label for="dbname"><span>Database Name:</span></label>
							<input name="dbname" type="text" class="form-control"
								[(ngModel)]="client.dbname" [ngModelOptions]="{standalone: true}"
							>
						</div>
						<div class="col-md-6">
							<label for="description"><span>Description</span></label>
							<textarea name="description" class="form-control" rows="3"
								[(ngModel)]="client.description" [ngModelOptions]="{standalone: true}"
							>
              </textarea>
            </div>
            <div class="col-md-6">
              <label for="name"><span>Host:</span></label>
              <input name="name" type="text" class="form-control" [(ngModel)]="client.bdhost" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="col-md-6">
              <label for="name"><span>User:</span></label>
              <input name="name" type="text" class="form-control" [(ngModel)]="client.bduser" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-md-6">
              <label for="name"><span>Password:</span></label>
              <input name="name" type="text" class="form-control" [(ngModel)]="client.bduser" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-md-6">
              <label for="name"><span>Driver</span></label>
              <input name="name" type="text" class="form-control" [(ngModel)]="client.bdpassword" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-md-6">
              <label for="name"><span>DNS:</span></label>
              <input name="name" type="text" class="form-control" [(ngModel)]="client.bddriver" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-md-6">
              <label for="name"><span>DB conection name:</span></label>
              <input name="name" type="text" class="form-control" [(ngModel)]="client.dns" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-md-6">
              <label for="name"><span>Storage URL:</span></label>
              <input name="name" type="text" class="form-control" [(ngModel)]="client.storageURL" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-md-6">
              <label for="name"><span>Name storage URL:</span></label>
              <input name="name" type="text" class="form-control" [(ngModel)]="client.NamestorageURL" [ngModelOptions]="{standalone: true}">
            </div>
            
					</div>
					<div class="box-footer">
						<button  mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="" >Update Organization</button>
						<button  mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="" >Create Organization</button>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.content -->
<!-- <ngx-loading [show]="loading"></ngx-loading> -->