<button class="btn btn-success btn-sm" (click)="openBranchModalEmpty()" ><i class="fa fa-plus"></i> New Branch Offices</button>

<!-- <button class="btn btn-success btn-sm" (click)="openBranchModal()" *ngIf="type == 1" ><i class="fa fa-plus"></i> View Branch</button> -->

<div  class="modal" id="branchModal" >
	<div class="modal-dialog  animated">
		<div class="modal-content">
			<div class="modal-header">
				<div class="btn-group pull-right">
					<button type="button" class="close" data-dismiss="modal"
						(click)="closeModalEdit()" aria-hidden="true"
					>
						&times;
					</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="box">
					<div class="box-header">
						<h3 *ngIf="type_view == 3">Edit Branch Offices</h3>
						<h3 *ngIf="type_view == 1">Create Branch Offices</h3>
						<div class="pull-right box-tools">
							<button *ngIf="type_view == 3 && branch.principal == 0" (click)="principalBranch()" class="btn btn-info btn-sm">
								<i class="fa fa-home"></i>
							</button>
							<button *ngIf="type_view == 3" (click)="deleteBranch()" class="btn btn-danger btn-sm">
								<i class="fa fa-trash"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="scroll-chevere">
							<div class="col-md-12">
								<label><span>Name</span></label>
								<input [(ngModel)]="branch.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Branch name" >
							</div>
							<div class="col-sm-12">
								<!-- <div class="input-group no-border"> -->
									<!-- <label><span>Address</span></label> -->
									<!-- <span class="input-group-btn"> -->
										<app-localization
											[localization]="localization"
										>
										</app-localization>
									<!-- </span> -->
								<!-- </div> -->
							</div>
							<!--
							<input type="hidden" name="prospect" [(ngModel)]="third.is_prospect">
							<div>
								<label>
									<input type="checkbox"
										[checked]="third.is_prospect == 1" 
										(change)="$event.target.checked? (third.is_prospect =  1) : (third.is_prospect = 0)">
									<span>Prospect</span>
								</label>
							</div>-->
							<div class="col-md-3">
								<input type="hidden" name="ship_to" [(ngModel)]="branch.is_ship_to">
								<div>
									<label for="ship_to">
										<input name="ship_to" class="form-check-input" type="checkbox"
											[checked]="branch.is_ship_to == 1"
											(change)="$event.target.checked? (branch.is_ship_to = 1) : (branch.is_ship_to = 0)"
										>
										<span>Ship to</span>
									</label>
								</div>
							</div>
							<div class="col-md-3">
								<input type="hidden" name="bill_to" [(ngModel)]="branch.is_bill_to">
								<div>
									<label for="bill_to">
										<input name="bill_to" class="form-check-input" type="checkbox"
											[checked]="branch.is_bill_to == 1"
											(change)="$event.target.checked? (branch.is_bill_to = 1) : (branch.is_bill_to = 0)"
										>
										<span>Bill to</span>
									</label>
								</div>
							</div>
							<div class="col-md-3">
								<input type="hidden" name="pay_from" [(ngModel)]="branch.is_pay_from">
								<div>
									<label for="pay_from">
										<input name="pay_from" class="form-check-input" type="checkbox"
											[checked]="branch.is_pay_from == 1"
											(change)="$event.target.checked? (branch.is_pay_from = 1) : (branch.is_pay_from = 0)"
										>
										<span>Pay From</span>
									</label>
								</div>
							</div>
							<div class="col-md-3">
								<input type="hidden" name="remit_to" [(ngModel)]="branch.is_remit_to">
								<div>
									<label for="remit_to">
										<input name="remit_to" class="form-check-input" type="checkbox"
											[checked]="branch.is_remit_to == 1"
											(change)="$event.target.checked? (branch.is_remit_to = 1) : (branch.is_remit_to = 0)"
										>
										<span>Remit to</span>
									</label>
								</div>
							</div>
							<div class="col-md-6">
								<label><span>Phone</span></label>
								<input [textMask]="{mask: mask, guide: guide}" [(ngModel)]="branch.phone" [ngModelOptions]="{standalone: true}"
									type="text" class="form-control"
								>
							</div>
							<div class="col-md-6">
								<label><span>Phone 2</span></label>
								<input [textMask]="{mask: mask, guide: guide}" [(ngModel)]="branch.phone_2" [ngModelOptions]="{standalone: true}"
									type="text" class="form-control"
								>
							</div>
							<div class="col-md-6">
								<label><span>Fax</span></label>
								<input [(ngModel)]="branch.fax" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Branch fax" >
							</div>
							<div class="col-md-6">
								<label><span>ISDN</span></label>
								<input [(ngModel)]="branch.isdn" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Branch birthday" >
							</div>
						</div>
					</div>
					<div class="box-footer">
						<button *ngIf="type_view == 3" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateBranchOffice()" >Update Branch Offices</button>
						<button *ngIf="type_view == 1" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="createBranchOffice()" >Create Branch Offices</button>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ngx-loading [show]="loading"></ngx-loading>
