<div class="row">
	<div class="box box-info" [ngClass]="{'collapsed-box': collapsed, '': !collapsed}" >
		<div class="box-header">
			<h4 class="box-title mt-0"> Branch offices</h4>
			<!-- <p class="box-category"> Here is a subtitle for this table</p> -->
			&nbsp;
			<app-branch
				*ngIf="!collapsed"
				[branch]="branch_list"
				[localization]="localization"
				[type_view]="type_view"
				(branchInsert)="getBranchInsert($event)"
				(branchDelete)="getBranchDelete($event)"
				(cleanBranch)="cleanBranch($event)"
				(branchChangePrincipal)="changePrincipal($event)"
			>
			</app-branch>
			<div class="pull-right box-tools">
				<button type="button" class="btn btn-default btn-flat" (click)="collapsedCard()">
				<i *ngIf="!collapsed" class="fa fa-minus"></i>
				<i *ngIf="collapsed" class="fa fa-plus"></i>
				</button> &nbsp;
			</div>
		</div>
		<div class="box-body">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead class="">
						<th>Options</th>
						<th>ID</th>
						<th>Principal</th>
						<th>Name</th>
						<th>Ship</th>
						<th>Bill</th>
						<th>Pay</th>
						<th>Remit</th>
						<th>Phone 1</th>
						<th>Phone 2</th>
					</thead>
					<tbody>
						<tr *ngFor="let branch of branch_offices">
							<td>
								<button class="btn btn-success btn-sm" (click)="gotToEditBranch(branch)">
									<i class="fa fa-pencil"></i>
								</button>
								<button *ngIf="branch.archived == 0" (click)="archivedBranch(branch, 1)" class="btn btn-warning btn-sm">
									<i class="fa fa-folder"></i>
								</button>
								<button *ngIf="branch.archived == 1" (click)="archivedBranch(branch, 0)" class="btn btn-info btn-sm">
									<i class="fa fa-folder-open"></i>
								</button>								
							</td>
							<td>{{branch.id}}</td>
							<td><i *ngIf="branch.principal == 1" class="btn-default btn-sm fa fa-home"></i></td>
							<td>{{branch.name}}</td>
							<td>
								<i *ngIf="branch.is_ship_to == 1" class="fa fa-check"></i>
								<i *ngIf="branch.is_ship_to == 0" class="fa fa-times-circle"></i>
							</td>
							<td>
								<i *ngIf="branch.is_bill_to == 1" class="fa fa-check"></i>
								<i *ngIf="branch.is_bill_to == 0" class="fa fa-times-circle"></i>
							</td>
							<td>
								<i *ngIf="branch.is_pay_from == 1" class="fa fa-check"></i>
								<i *ngIf="branch.is_pay_from == 0" class="fa fa-times-circle"></i>
							</td>
							<td>
								<i *ngIf="branch.is_remit_to == 1" class="fa fa-check"></i>
								<i *ngIf="branch.is_remit_to == 0" class="fa fa-times-circle"></i>
							</td>
							<td>{{branch.phone}}</td>
							<td>{{branch.phone_2}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<ngx-loading [show]="loading"></ngx-loading>  