<section class="content-header">
    <div class="col-md-4">
      <h1>
        {{ titleTable }}
        <!-- <small>Optional description</small> -->
      </h1>
    </div>
    <div class="col-md-6" >
      <div class="input-group no-border" width="80%">
        <input type="text" value="" class="form-control" placeholder="Search..."
        [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}" (keyup.enter)="search()">
        <span class="input-group-btn">
          <button type="button" class="btn btn-warning btn-flat" (click)="search()" >search</button>
          <button type="button" class="btn btn-danger btn-flat" (click)="keyword = ''" >Clean</button>
          <button type="button" class="btn btn-info btn-flat"  >All</button>
        </span>
      </div>
    </div>

  </section>
  <!-- Main content -->
  <section class="content">
    <div class="main-content">
      <div class="container-fluid">

        <div class="row" >
          <div class="col-md-12">
            <div class="box box-info ">
              <div class="box-header ">

              </div>
              <div class="box-body">
                <div class="table-responsive">
                    <table    class="table table-hover" >
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Registrer</th>
                            <th>Table</th>
                            <th>Aprove</th>
                            <th>Active</th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let client of clients">
                            <td>{{ client.id }}</td>
                            <td>{{ client.date }}</td>
                            <td>{{ client.registrer }}</td>
                            <td>{{ client.description }}</td>
                            <td>{{ client.aprove }}</td>
                            <td>{{ client.active }}</td>
                          </tr>
                          <tr *ngIf="clients?.length == 0">
                            <td colspan="6" class="no-data-available">No data!</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
