<button class="btn btn-success btn-sm" (click)="openContactModal()" ><i class="fa fa-plus"></i></button>

<div  class="modal" id="contactModal" >
	<div class="modal-dialog  animated">
		<div class="modal-content">
			<div class="modal-header">
				<h3 *ngIf="type_view == 3">Edit Contact</h3>
				<h3 *ngIf="type_view == 1">Create Contact</h3>
				<button type="button" class="close" data-dismiss="modal" (click)="closeModalEdit()" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">  
				<div class="box">
					<div class="box-body">
						<div class="col-md-12">
							<label><span>Name</span></label>
							<input [(ngModel)]="contact.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Contact name" >
						</div>
						<div class="col-md-12">
							<label><span>Title</span></label>
							<input [(ngModel)]="contact.title" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Contact title" >
						</div>
						<div class="col-md-12">
							<label><span>Email</span></label>
							<input [(ngModel)]="contact.email" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Contact email" >
						</div>
						<div class="col-md-6">
							<label><span>Phone</span></label>
							<input [(ngModel)]="contact.phone" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Contact phone" >
						</div>
						<div class="col-md-6">
							<label><span>Phone 2</span></label>
							<input [(ngModel)]="contact.phone_2" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Contact phone 2" >
						</div>
						<div class="col-md-6">
							<label><span>Fax</span></label>
							<input [(ngModel)]="contact.fax" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Contact fax" >
						</div>
						<div class="col-md-6">
							<label><span>Birthday or Anniversary day</span></label>
							<input [(ngModel)]="contact.birthday" [ngModelOptions]="{standalone: true}" type="date" class="form-control" placeholder="Contact birthday" >
						</div>
					</div>
					<div class="box-footer">
						<button *ngIf="type_view == 3" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateContact()" >Update Contact</button>
						<button *ngIf="type_view == 1" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="createContact()" >Create Contact</button>
						<div class="clearfix"></div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>

<ngx-loading [show]="loading"></ngx-loading>