<ngx-loading [show]="loading"></ngx-loading>
<div class="main-content">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-4">
                <div class="card ">
                        <div class="card-header card-header-danger">
                                <h4 class="card-title">Filter</h4>
                            </div>
                    <div class="card-body"> 

                            
                        <div class="col-md-12">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search..."
                                [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}">
                                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="search()">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </div>
                        
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="search()" >Search</button>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="getThirds()">All</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> Thirds</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="goToCreateThird()">Create Third</button>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        Options
                                      </th>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Logo
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Archived
                                    </th>
                                    <th>
                                        URL
                                    </th>
                                    <th>
                                        Create at
                                    </th>
                                    <th>
                                        Update at
                                    </th>
                                    
                                </thead>
                                <tbody>
                                    <tr *ngFor="let third of thirds">
                                        <td>           
                                            <button mat-raised-button class="btn btn-warning btn-sm" (click)="goToEditThird(third.id)" ><i class="fa fa-pencil"></i></button>
                                            <button *ngIf="!third.archived" (click)="archivedThird(third.id, 1)" mat-raised-button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                            <button *ngIf="third.archived" (click)="archivedThird(third.id, 0)" mat-raised-button class="btn btn-info btn-sm"><i class="fa fa-check"></i></button>
                                          </td>
                                        <td>
                                            {{third.id}}
                                        </td>
                                        <td>
                                            {{third.logo}}
                                        </td>
                                        <td>
                                            {{third.name}}
                                        </td>
                                        <td>
                                            {{third.archived}}
                                        </td>
                                        <td>
                                            {{third.url}}
                                        </td>
                                        <td>
                                            {{third.created_at}}
                                        </td>
                                        <td>
                                            {{third.updated_at}}
                                        </td>
                                    </tr>    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  