
<div class="wrapper">
  <!-- Main Header -->
 <app-banana-header></app-banana-header>
 <!-- Left side column. contains the logo and sidebar -->
 <app-banana-left-side></app-banana-left-side>
 <!-- Content Wrapper. Contains page content -->
 <!-- /.content-wrapper -->
 <app-banana-content></app-banana-content>
 <!-- Main Footer -->
 <app-banana-footer></app-banana-footer>
 <!-- Control Sidebar -->
 <app-banana-control-sidebar></app-banana-control-sidebar>
 <!-- /.control-sidebar -->
 <!-- Add the sidebar's background. This div must be placed
      immediately after the control sidebar -->
 <div class="control-sidebar-bg"></div>
</div>
