
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>
        {{titleUser}}
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>
      <!-- Main content -->
    <section class="content">
      <div class="main-content">
        <div class="col-md-12" ><!-- <app-custom-columns></app-custom-columns> --></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-info">
                <div class="box-header">
                  <div class="row">
                    <div class="col-md-6">
                      <h4>{{titleUser}}</h4>
                    </div>
                    <!-- <div class="col-md-6">
                      <div *ngIf="type_view == 3">
                        <app-contact (createEvent)="getContactInsert($event)"></app-contact>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box box-info">
            <div class="box-body">
                <form method="post"  accept-charset="UTF-8">
                    <div class="row">

                          <!-- <div class="col-md-6">
                              <label for="name"><span>Username</span></label>
                              <input matInput placeholder="Username" class="form-control" name="Username" [(ngModel)]="user.user_name" [ngModelOptions]="{standalone: true}" >
                            </div> -->

                          <div class="col-md-6">
                              <label for="name"><span>Email</span></label>

                              <input matInput placeholder="Email address" class="form-control" type="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" >

                          </div>
                          <div class="col-md-6">
                            <label for="organization"><span>Rol</span></label>
                            <select name="organization" class="form-control" [(ngModel)]="user.rol_id" [ngModelOptions]="{standalone: true}">
                              <option *ngFor="let rol of combo_select" [ngValue]="rol.id">
                                {{rol.name}}
                              </option>
                            </select>
                          </div>
                        <div class="col-md-6">
                            <label for="name"><span>password</span></label>

                            <input matInput placeholder="password" class="form-control" type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" >

                        </div>
                        <div class="col-md-6">
                          <label for="name"><span>Comfirm password</span></label>

                          <input matInput placeholder="password" class="form-control" type="password" [(ngModel)]="ConfirmPassword" [ngModelOptions]="{standalone: true}" >

                      </div>
                          <div class="col-md-6">
                              <div class="form-check">
                                  <label class="form-check-label">
                                      <input class="form-check-input"
                                      type="checkbox"
                                      matTooltip="Name for the rol"
                                      [checked]="user.all_access_column ==1? true:false"
                                      [(ngModel)]="user.all_access_column" [ngModelOptions]="{standalone: true}"
                                      value="">
                                      All access columns
                                      <span class="form-check-sign">
                                          <span class="check"></span>
                                      </span>
                                  </label>
                                </div>
                          </div>

                          <div class="col-md-6">
                              <div class="form-check">
                                  <label class="form-check-label">
                                      <input class="form-check-input"
                                      type="checkbox"
                                      matTooltip="Name for the rol"
                                      [checked]="user.all_access_organization ==1? true:false"
                                      [(ngModel)]="user.all_access_organization" [ngModelOptions]="{standalone: true}"
                                      value="">
                                      All access organization
                                      <span class="form-check-sign">
                                          <span class="check"></span>
                                      </span>
                                  </label>
                                </div>
                          </div>
                          <div class="col-md-6">
                            <!-- <app-contact-list
                            [contacts]="contact"
                          >
                          </app-contact-list> -->
                          <app-contact [contact]="contact" [type_view]="typeView" [type]="1" ></app-contact>
                        </div>

                    </div>

                </form>


            </div>
            <div class="box-footer">
                <button *ngIf="typeView == 3" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateUser()" >Update User</button>
                <button *ngIf="typeView == 1" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="createUser()" >Create Rol</button>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="scrollableAcordeon">

                    <div class="box box-info">
                        <div class="box-body">
                                <div class="dropdown">
                                        <button  class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
                                            Options
                                            <b class="caret"></b>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a (click)="getPermits(1,user.id)">Assosiated</a></li>
                                            <li><a (click)="getPermits(0,user.id)">Not Assosiated</a></li>
                                            <li><a (click)="getPermits(2,user.id)">All</a></li>
                                        </ul>
                                    </div>
                            <div id="accordion">
                                <div class="box" *ngFor="let table of permissions; let i index" >
                                    <div class="box-header" id="heading_{{table.table_id}}">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse"  [attr.data-target]="'#collapse_'+ table.table_id" aria-expanded="true" aria-controls="collapseOne">
                                          {{table.table_name}}
                                        </button>
                                      </h5>
                                    </div>

                                    <div id="collapse_{{table.table_id}}"
                                        class="collapse"
                                        [attr.aria-labelledby]="'heading_'+table.table_id "
                                         data-parent="#accordion">
                                      <div class="box-body">
                                        <div class="col-md-12">
                                            <div *ngFor="let column of table.columns">
                                                <div class="row" >
                                                        <div class="col-md-4" >
                                                        {{column.column_name}}
                                                        </div>
                                                        <div class="form-check col-md-2" >
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input"

                                                                    type="checkbox" name="{{column.create}}"
                                                                    [checked]="column.create ==1? true:false"
                                                                    (change)="selectColumn(column,$event.srcElement.checked,'create')"  >
                                                                    create
                                                                    <span class="form-check-sign">
                                                                        <span class="check"></span>
                                                                    </span>
                                                                </label>
                                                        </div>
                                                        <div class="form-check col-md-2" >
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input"
                                                                    type="checkbox"
                                                                    value="{{column.read==1? true:false}}"
                                                                    [checked]="column.read==1? true:false"
                                                                    (change)="selectColumn(column,$event.srcElement.checked,'read')" >
                                                                    read
                                                                    <span class="form-check-sign">
                                                                        <span class="check"></span>
                                                                    </span>
                                                                </label>
                                                        </div>
                                                        <div class="form-check col-md-2" >
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input"
                                                                    type="checkbox"
                                                                    value="{{column.update}}"
                                                                    [checked]="column.update==1? true:false"
                                                                    (change)="selectColumn(column,$event.srcElement.checked,'update')" >
                                                                    update
                                                                    <span class="form-check-sign">
                                                                        <span class="check"></span>
                                                                    </span>
                                                                </label>
                                                        </div>
                                                        <div class="form-check col-md-2" >
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input"
                                                                    type="checkbox"
                                                                    value="{{column.delete}}"
                                                                    [checked]="column.delete==1? true:false"
                                                                    (change)="selectColumn(column,$event.srcElement.checked,'delete')" >
                                                                    delete
                                                                    <span class="form-check-sign">
                                                                        <span class="check"></span>
                                                                    </span>
                                                                </label>
                                                        </div>
                                                </div>
                                            </div>

                                        </div>
                                      </div>
                                    </div>
                                  </div>

                              </div>
                        </div>
                    </div>

    </div>

        </div>
      </div>
    </section>
    <!-- /.content -->
    <ngx-loading [show]="loading"></ngx-loading>


