<button class="btn btn-warning btn-sm" (click)="openLocalizationModal()" ><i class="fa fa-pencil"></i></button>

<div  class="modal" id="localizationModal" >
  <div class="modal-dialog  animated">
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{localizationTitle}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                
            </div>
            <div class="modal-body">  
                 <div class="box">
                    <div class="content">
                        <div class="col-md-12">
                            <input [(ngModel)]="localization.address_1" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Address 1" >
                        </div>
                        <div class="col-md-12">
                            <input [(ngModel)]="localization.address_2" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Address 2" >
                        </div>
                        <div class="col-md-12">
                            <input [(ngModel)]="localization.address_3" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Address 3" >
                        </div>
                        <div class="col-md-12">
                            <input [(ngModel)]="localization.address_4" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Address 4" >
                        </div>
                        <div class="col-md-12">
                            <select [(ngModel)]="localization.country_id" [ngModelOptions]="{standalone: true}"
                                (change)="getStates(localization.country_id)" class="form-control">
                                <option value="">Select country</option>
                                <option *ngFor="let country of countries" [ngValue]="country.id">{{country.country}}</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <select [(ngModel)]="localization.state_id" [ngModelOptions]="{standalone: true}" 
                                (change)="getCities(localization.state_id)" class="form-control">
                                <option value="">Select state</option>
                                <option *ngFor="let state of states" [ngValue]="state.id">{{state.state}}</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <input [(ngModel)]="localization.state_name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="State Name" >
                        </div>
                        <div class="col-md-12">
                            <select [(ngModel)]="localization.city_id" [ngModelOptions]="{standalone: true}" class="form-control">
                                <option value="">Select city</option>
                                <option *ngFor="let city of cities" [ngValue]="city.id">{{city.city}}</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <input [(ngModel)]="localization.state_name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="City Name" >
                        </div>
                        <div class="col-md-12">
                            <input [(ngModel)]="localization.postal" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Postal" >
                        </div>
                        <div class="col-md-12">
                            <input [(ngModel)]="localization.postal_add" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Postal add" >
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">Comments</label>
                                <textarea class="form-control" rows="3" [(ngModel)]="localization.comments" [ngModelOptions]="{standalone: true}">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <div class="forgot login-footer">
                    <span>Looking to 
                        <a href="javascript: showRegisterForm();">create an account</a>
                    ?</span>
                </div>
                <div class="forgot register-footer" style="display:none">
                    <span>Already have an account?</span>
                    <a href="javascript: showLoginForm();">Login</a>
                </div>
            </div>        
      </div>
  </div>
</div>